<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net451" />
  <package id="EntityFramework.BulkInsert.SqlServerCe" version="6.0.2" targetFramework="net451" />
  <package id="EntityFramework.BulkInsert-ef6" version="6.0.2.8" targetFramework="net451" />
  <package id="EntityFramework.MappingAPI" version="6.0.0.7" targetFramework="net451" />
  <package id="EntityFramework.SqlServerCompact" version="6.1.2" targetFramework="net451" />
  <package id="ErikEJ.SqlCeBulkCopy" version="2.1.6.6" targetFramework="net451" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net451" />
  <package id="Expression.Blend.Sdk3" version="1.0.1340.1" targetFramework="net451" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net451" />
</packages>